fieldset {
	color: white;
}

.form-control {
	position: relative;
	width: 250px;
	margin-bottom: 5px;
}

label {
	margin-right: 30px;
}

input {
	position: absolute;
	right: 0;
}

.ng-valid[required] {
 	border-left: 5px solid lightgreen;
}

.ng-invalid {
 	border-left: 5px solid red;
}

.ng-pristine {
	border-left: 5px solid blue;
}