<form novalidate (ngSubmit)="onSubmit()" #myForm="ngForm">
	<fieldset>
		<legend>My super form</legend>
		<div class="form-control">
			<label for="username">username: </label>
			<input id="username" type="text" [(ngModel)]="credentials.username" ngControl="username" required #spy #name="ngForm">
			<div [hidden]="name.valid || name.pristine">This field is required!</div>
			<pre>{{spy.className}}</pre>
		</div>
		<div class="form-control">
			<label for="email">email: </label>
			<input id="email" type="text" [(ngModel)]="credentials.email" ngControl="email" required>
		</div>
		<div class="form-control">
			<label for="password">password: </label>
			<input id="password" type="text" [(ngModel)]="credentials.password" ngControl="password" required>
		</div>
		<div class="form-control">
			<label for="confirm-password">repeat password: </label>
			<input id="confirm-password" type="text" [(ngModel)]="credentials.confirmPassword" ngControl="confirmPassword" required>
		</div>
		<button type="submit" [disabled]="!myForm.form.valid">signup</button>
	</fieldset>
	<pre>
		{{diagnostic}}
	</pre>
</form>